body {
    background-color: #fbefbd;
}

nav{
    background-color: #1f5b25;
    padding: 15px;
}

nav a{
    color: #fff;
    margin: 15px;
    text-decoration: none;
}

.kave:hover {
    box-shadow: 0px 0px 5px #1f5b25;
}

.kave h2 {
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
    margin-bottom: 1rem;
}
nav a :hover{
    color: #fff;
    text-decoration: none;
}
nav a:first-child{
    font-size: 1.5em;
}
nav a:first-child img{
    width: 40px;
}
.banner{
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-size: cover;
    height: 400px;
}
.kave{
    color: #1f5b25;
    background-color: #fff;
    border: 1px solid #1f5b25;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.napiajanlat{
    width: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
}